  <h1>Stupid Coaching</h1>
<div class="container">

  <div class="quote question">
    <p><%= @search %></p>
    <p class="font-italic">ーYou</p>
  </div>

  <div class="quote answer">
    <p><%= @answer %></p>
    <p class="font-italic">ーYour Coach</p>
  </div>
</div>
